@font-face {
  font-family: 'isocteur';
  src: url('isocteur.eot'); /* IE9 Compat Modes */
  src: url('isocteur.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('isocteur.woff') format('woff'), /* Modern Browsers */
       url('isocteur.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('isocteur.svg#5b5e874c5fa34a7d54f697a7a33ffc3c') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

