@font-face {
  font-family: 'PT Sans';
  src: url('PTS55F.eot'); /* IE9 Compat Modes */
  src: url('PTS55F.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('PTS55F.woff') format('woff'), /* Modern Browsers */
       url('PTS55F.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('PTS55F.svg#f39585f1b656e5f9297b79e526233403') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

