@font-face {
  font-family: 'ptsans';
  src: url('ptsans.eot'); /* IE9 Compat Modes */
  src: url('ptsans.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('ptsans.woff') format('woff'), /* Modern Browsers */
       url('ptsans.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('ptsans.svg#f39585f1b656e5f9297b79e526233403') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

