<ul class="inside-project-pager">
  <li class="projects-pager-left <%= 'disabled' unless @link_to_prev_project %>">
    <% if @link_to_prev_project %>
      <%= link_to "", @link_to_prev_project, remote: true %>
    <% end %>
  </li>
  <li class="projects-pager"></li>
  <li class="projects-pager-right <%= 'disabled' unless @link_to_next_project %>">
    <% if @link_to_next_project %>
      <%= link_to "", @link_to_next_project, remote: true %>
    <% end %>
  </li>
</ul>