<div class="wrapper">
  <div class="bar dashed-line">
    <%= render partial: "shared/project_pager" %>
    <a class="icn-close"></a>
  </div>
  <div class="project-image">
    <%= image_tag @project.main.url %>
  </div>
</div>

<script type="text/javascript">
  $(".wrapper img").load(function() {
    $.fancybox.update();
    setTimeout(function() {
      $('.fancybox-type-ajax').css('visibility', 'visible');
      $.fancybox.hideLoading();
    }, 500)
  });

  $(".fancybox-inner a[data-remote]").click(function() {
    $.fancybox.showLoading();
  });
</script>