// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// General
.content {
  width: 840px;
  position: relative;
  left: 50%;
  margin-left: -420px;
}

.header-divider {
  width: 100%;
}

a {
  text-decoration: none;
}

p, input, textarea, .ui-selectmenu-button, .ui-menu-item {
  font: 11pt 'ptsans';
}
input, textarea, .ui-selectmenu-button, .ui-menu-item {
  font-style: italic;
}

article p {
  padding-bottom: 20px;
}

.table {
  display: table;
  .row {
    display: table-row;
    .cell {
      display: table-cell;
    }
    .cell-divider {
      display: table-cell;
      min-width: 18px;
      &:last-child {
        width: 100%;
      }
    }
  }
  .row-divider {
    display: table-row;
    height: 50px;
  }
}

.carousel-box {
  position: relative;
}

footer {
  height: 40px;
}

// UI
header {
  height: 326px;
  position: relative;
  #nav {
    bottom: 34px;
    position: absolute;
    ul {
      li {
        font: 19pt 'isocteur';
        text-transform: uppercase;
        text-align: center;
//        &:hover:before {
//          content: "";
//          width: 42px;
//          height: 1px;
//          display: block;
//          background-color: #7A5217;
//          position: relative;
//          top: 27px;
//          left: 20px;
//        }
        &:after {
          display: table-cell;
          content: "";
        }
        a {
          color: #F2ECE2;
          padding: 10px;
          &:hover {
            color: #7A5217;
          }
        }
      }
    }
  }
  .navigation {
    display: block;
    height: 80px;
    position: absolute;
    bottom: 0;
    width: 100%;
    &.stick {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100;
      right: 0;
    }
  }
}

.main-carousel-wrapper {
  position: relative;
  .main-carousel {
    div {
      display: block;
      float: left;
      height: 350px;
      background: image-url('carousel-project.jpg') no-repeat center / cover;
    }
  }
  .main-carousel-pager {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    height: 20px;
    a {
      display: inline-block;
      width: 46px;
      height: 3px;
      border: 1px solid black;
      margin: 0 5px;
      &.selected {
        border: 1px solid transparent;
        background-color: black;
      }
    }
  }
}


#tabs {
  .project {
    width: 266px;
    height: 354px;
    border: 1px solid black;
    border-bottom: 0;
    position: relative;
    h2, p {
      position: relative;
    }
    h2 {
      top: 36px;
      &:after {
        content: "";
        display: block;
        width: 60px;
        height: 2px;
        background-color: #B0B0B0;
        position: absolute;
        left: 50%;
        margin-left: -30px;
        top: 39px;}
    }
    p {
      font-style: italic;
      font-size: 12pt;
      top: 77px;
    }
    h2, a {
      font: 12pt 'cgothic';
      text-transform: uppercase;
    }
    h2, p, a {
      text-align: center;
    }
    a {
      display: block;
      position: absolute;
      bottom: -24px;
      left: 62px;
      width: 140px;
      height: 48px;
      background-color: white;
      color: black;
      line-height: 48px;
      border: 1px solid black;
      z-index: 1;
      &:hover {
        color: white;
        background-color: #7A5217;
        border: 1px solid #7A5217;
        &:after {
          background: image-url('sprites.png') -235px -124px no-repeat;
        }
      }
      &:after {
        content: "";
        display: inline-block;
        background: image-url('sprites.png') -235px -110px no-repeat;
        width: 8px;
        height: 12px;
        margin-left: 6px;
      }
    }
  }
}

// Template
.artholding-logo {
  position: absolute;
  left: 50%;
  top: 35px;
  margin-left: -116px;
}

h1 {
  font: 30pt 'bookos';
  text-align: center;
  position: relative;
  padding: 34px 0;
  margin: 12px 0;
  color: #7A5217;
  &:before {
    background: image-url('sprites.png') 0px -210px no-repeat;
    display: block;
    width: 187px;
    height: 11px;
    content: "";
    position: absolute;
    top: 14px;
    left: 50%;
    margin-left: -94px;
  }
  &:after {
    background: image-url('sprites.png') 0px -184px no-repeat;
    display: block;
    width: 207px;
    height: 11px;
    content: "";
    position: absolute;
    bottom: 14px;
    left: 50%;
    margin-left: -104px;
  }
}

.order {
  input[type=submit] {
    font: 19pt 'cgothic';
    text-transform: uppercase;
    &:hover {
      background-color: #7A5217;
      color: white;
    }
  }
  .control:hover:after {
    background-color: #3E2B0B;
  }
  .control:after {
    content: "";
    display: block;
    height: 4px;
    width: 348px;
    background-color: #3D3D3D;
    position: absolute;
    left: 50%;
    margin-left: -174px;
  }
  h1 {
    &:before {
      background: image-url('sprites.png') 0px -223px no-repeat;
    }
    &:after {
      background: image-url('sprites.png') 0px -197px no-repeat;
    }
  }
  .order-complete {
    display: none;
    text-align: center;
    .thumb-up {
      margin-top: 20px;
    }
    .thank-you, .wait {
      font-family: 'cgothic';
      text-transform: uppercase;
      display: inline-block;
    }
    .thank-you {
      color: #7A5217;
      font-size: 19pt;
      padding: 15px 0;
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      margin-top: 26px;
    }
    .wait {
      font-size: 14pt;
      color: white;
      margin: 28px 0 58px 0;
      line-height: 24px;
    }
  }
}

.clients {
  .clients-pager {
    position: absolute;
    top: 4px;
    right: 0;
  }
  span {
    font: 14pt 'cgothic';
    text-transform: uppercase;
    margin-bottom: 20px;
    display: block;
  }
  .clients-carousel {
    width: 840px;
    .client {
      display: block;
      float: left;
      img {
//        height: 175px;
//        width: 266px;
      }
    }
  }
}

.contacts {
  .table {
    padding-top: 20px;
    .cell-divider {
      width: 50%;
    }
  }
  .contact {
    span:first-child {
      font: 10pt 'ptsans';
      text-transform: uppercase;
      position: relative;
      padding-left: 30px;
      i {
        position: absolute;
        top: -4px;
        left: 0;
      }
    }
    span.info {
      font: 18pt 'cgothic';
      display: block;
      padding-left: 30px;
    }
  }
}

// Form
.form {
  .right-form {
    float: right;
    textarea {
      overflow: auto;
      vertical-align: top;
      width: 466px;
      height: 135px;
      padding: 10px;
      outline: none;
    }
  }
  .left-form {
    float: left;
    input {
      display: block;
      height: 30px;
      margin-bottom: 13px;
      width: 322px;
      padding: 5px;
      outline: none;
      &:focus {
        outline: none;
      }
      &:invalid {
        outline: none;
      }
    }
  }
  .control {
    clear: both;
    text-align: center;
    padding: 48px 0 55px 0;
    input {
      background: white;
      height: 48px;
      width: 348px;
      border: none;
    }
  }
}

// Dividers and bgs
.dashed-line {
  &:after {
    content: "";
    background: image-url('dashed-line.png') repeat-x;
    height: 7px;
    width: 840px;
    display: inline-block;
    margin: 30px 0 0 0;

  }
}
.header-bg {
  background: image-url('header-bg.jpg') repeat;
}
.header-divider {
  background: image-url('header-divider.png') repeat-x;
  position: absolute;
  bottom: 80px;
  height: 2px;
}