.navigation, .portfolio {
	overflow: hidden;
}

.menu-cursor1 {
	width: 30px;
	height: 1px;
	display: block;
	background-color: #7A5217;
	top: 34px;
}

.menu-cursor2 {
	width: 24px;
	height: 1px;
	display: block;
	background-color: #7A5217;
	bottom: -26px;
}

.transition {
	transition: left .2s ease-in-out 0s;
}
