.article-down-arrow-white {
  background: image-url('sprites.png') 0px -197px no-repeat;
  display: inline-block;
  width: 207px;
  height: 11px;
}

.article-up-arrow-white {
  background: image-url('sprites.png') 0px -223px no-repeat;
  display: inline-block;
  width: 187px;
  height: 11px;
}

.artholding-logo {
	background: image-url('sprites.png') 0px 0px no-repeat;
	display: inline-block;
	width: 233px;
	height: 182px;
}

.carousel-pager {
	background: image-url('sprites.png') -189px -197px no-repeat;
	display: inline-block;
	width: 103px;
	height: 5px;
}

.contact-icns {
  background: image-url('sprites.png') -191px -218px no-repeat;
  display: inline-block;
  width: 76px;
  height: 24px;
}

.icn-close {
  background: image-url('sprites.png') -245px -110px no-repeat;
  display: inline-block;
  width: 19px;
  height: 19px;
  cursor: pointer;
}

.icn-mail {
	background: image-url('sprites.png') -243px -218px no-repeat;
	display: inline-block;
	width: 24px;
	height: 24px;
}

.icn-phone {
	background: image-url('sprites.png') -191px -218px no-repeat;
	display: inline-block;
	width: 24px;
	height: 24px;
}

.icn-skype {
	background: image-url('sprites.png') -217px -218px no-repeat;
	display: inline-block;
	width: 24px;
	height: 24px;
}

.icn-zoom {
  background: image-url('sprites.png') -269px -109px no-repeat;
  display: inline-block;
  width: 24px;
  height: 21px;
}

.project-bottom-line {
	background: image-url('sprites.png') 0px -257px no-repeat;
	display: inline-block;
	width: 266px;
	height: 1px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.projects-pager-left, .projects-pager-right {
	cursor: pointer;
    &.disabled, &.disabled a {
      cursor: default;
    }
}
.projects-pager {
	background: image-url('sprites.png') -29px -236px no-repeat;
	display: inline-block;
	width: 18px;
	height: 19px;
}
.projects-pager-left {
	background: image-url('sprites.png') -18px -236px no-repeat;
	display: inline-block;
	width: 12px;
	height: 19px;
}
.projects-pager-right {
	background: image-url('sprites.png') -46px -236px no-repeat;
	display: inline-block;
	width: 12px;
	height: 19px;
}
.projects-pager-left:hover {
	background: image-url('sprites.png') 0px -236px no-repeat;
	display: inline-block;
	width: 12px;
	height: 19px;
    &.disabled {
      background: image-url('sprites.png') -18px -236px no-repeat;
    }
}
.projects-pager-right:hover {
	background: image-url('sprites.png') -64px -236px no-repeat;
	display: inline-block;
	width: 12px;
	height: 19px;
    &.disabled {
      background: image-url('sprites.png') -46px -236px no-repeat;
    }
}

.selectbox-arrow {
  background: url(/assets/sprites.png) -261px -70px no-repeat;
  display: inline-block;
  width: 32px;
  height: 16px;
  position: relative;
  top: -16px;
  left: 118px;
}

.thumb-up {
	background: image-url('sprites.png') -235px 0px no-repeat;
	display: inline-block;
	width: 61px;
	height: 68px;
}
