.ui-tabs {
  position: relative;
  .ui-tabs-nav {
    height: 60px;
    float: left;
    li {
      font: 14pt 'Century Gothic';
      text-transform: uppercase;
      float: left;
      margin: 0 30px 0 0;
      a {
        text-decoration: none;
        color: black;
        &:hover {
          color: #7A5217;
        }
      }
    }
  }
  .tabs-pager {
    float: right;
    position: relative;
    top: 4px;
  }
  .page {
    float: left;
    display: table;
    width: 840px;
    .projects-row {
      display: table-row;
      .project, .project-divider {
        display: table-cell;
        min-width: 18px;
      }
      .project-divider:last-child {
        width: 100%;
      }
    }
    .projects-row-divider {
      display: table-row;
      height: 50px;
    }
  }
}