.fancybox-skin {
  padding: 0;
  .wrapper {
    overflow: hidden;
    width: inherit;
    .bar {
      width: inherit;
      margin-bottom: 14px;
      background-color: #F5F5F5;
      &.stick {
        position: fixed;
        width: inherit;
      }
      .icn-close {
        position: absolute;
        top: 16px;
        right: 16px;
      }
      .inside-project-pager {
        position: relative;
        top: 16px;
        left: 16px;
      }
    }
    .project-image {
      img {
        width: 100%;
        margin-bottom: 14px;
        border-bottom: 1px solid #000000;
        border-top: 1px solid #000000;
      }
      &.stick {
        padding-top: 76px;
      }
    }
  }
}