@font-face {
  font-family: 'isocteur';
  src: font-url('fonts/isocteur.eot'); /* IE9 Compat Modes */
  src: font-url('fonts/isocteur.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  font-url('fonts/isocteur.woff') format('woff'), /* Modern Browsers */
  font-url('fonts/isocteur.ttf')  format('truetype'), /* Safari, Android, iOS */
  font-url('fonts/isocteur.svg#5b5e874c5fa34a7d54f697a7a33ffc3c') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'bookos';
  src: font-url('fonts/bookos.eot'); /* IE9 Compat Modes */
  src: font-url('fonts/bookos.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  font-url('fonts/bookos.woff') format('woff'), /* Modern Browsers */
  font-url('fonts/bookos.ttf')  format('truetype'), /* Safari, Android, iOS */
  font-url('fonts/bookos.svg#be6b883923deaeb71bafe75c217edcd0') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'ptsans';
  src: font-url('fonts/ptsans.eot'); /* IE9 Compat Modes */
  src: font-url('fonts/ptsans.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  font-url('fonts/ptsans.woff') format('woff'), /* Modern Browsers */
  font-url('fonts/ptsans.ttf')  format('truetype'), /* Safari, Android, iOS */
  font-url('fonts/ptsans.svg#f39585f1b656e5f9297b79e526233403') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'cgothic';
  src: font-url('fonts/cgothic.eot'); /* IE9 Compat Modes */
  src: font-url('fonts/cgothic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  font-url('fonts/cgothic.woff') format('woff'), /* Modern Browsers */
  font-url('fonts/cgothic.ttf')  format('truetype'), /* Safari, Android, iOS */
  font-url('fonts/cgothic.svg#13db03934b676bad49f0835d401d12db') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  400;
}

