<!DOCTYPE html>
<html>
<head>
  <title>Artholding</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="header-bg">
  <div class="artholding-logo"></div>
  <div class="header-divider"></div>
  <div class="navigation">
    <nav id="nav" class="content table">
      <ul class="row">
        <li class="cell"><a href="#about">О нас</a></li>
        <li class="cell"><a href="#portfolio">Портфолио</a></li>
        <li class="cell"><a href="#order">Заказать</a></li>
        <li class="cell"><a href="#clients">Клиенты</a></li>
        <li class="cell"><a href="#contacts">Контакты</a></li>
      </ul>
    </nav>
    <div class="menu-cursor1"></div>
  </div>
</header>

<main>
  <%= yield %>
</main>

<footer>

</footer>

</body>
</html>
